@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
body {
  margin: 0;
  font-family: 'Ysabeau Infant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo-font{
  font-family: 'Lobster Two', cursive;
}
.bold-font{
  font-family: 'Abril Fatface', cursive;
}
.regular-font{
  font-family: 'Ysabeau Infant', sans-serif;
}
.active{
  color: #28343c;
  font-size: 1.1rem;
  font-weight: 800;
}

.hidescroll::-webkit-scrollbar{
display: none;
}
.shadow1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}